## Tarea Grande 2
### IIC1005 - 2019 - 2
Integrantes:
    - Baltazar Lutjens
    - Francisco Hortal
    
Para instalar la librería altair:
```bash
pip install -U altair vega_datasets notebook vega
```

Si tienen muchos problemas con el comando anterior, pueden abrir una issue o de lo contrario usar google collab.

In [1]:
#### Imports iniciales ####



### Altair ###
import altair as alt
# Para que funcione en notebook
alt.renderers.enable('notebook')
# Comentar la línea anterior si no trabajan en notebook, es decir en jupyter lab o google colab

RendererRegistry.enable('notebook')

# Parte 1: Procesamiento de datos

## Cargar dataset:

In [1]:
import pandas as pd

ruta_data = 'adult_dataset.csv'

tabla_adult = pd.read_csv(ruta_data)
df_adult = pd.DataFrame(tabla_adult)

## Análisis de las características:

Se eliminan las columnas:

-Education: Entrega la misma informacion que education number

-Occupation: Entrega lo mismo que workclase

-Relationship: Entrega lo mismo que marital_status

-Country: La informacion no tiene tanta relevancia y dificultaria el cambiarla a int por la gran cantidad de paises

In [68]:
df_adult_errase = df_adult.drop(columns=['Education', 'Occupation', 'Relationship', 'Country'])
print(len(df_adult_errase))

48842

## Limpiar valores nulos:

Se decide borrar las filas con valores nulos. Esto quitara la data de 44000 personas, pero siguen quedando 4491, lo que es un numero suficiente para poder sacar conclusiones.

In [69]:
#Se borran las filas con valores nulos
df_adult_errase = df_adult_errase.dropna(how='any',axis=0) 
print(len(df_adult_errase))
df_adult_errase.head(5)

4570

,Id,Age,Workclass,fnlwgt,Education_Num,Martial_Status,Race,Sex,Capital_Gain,Capital_Loss,Hours_per_week,Target
0,1,39,State-gov,77516,13,Never-married,White,Male,2174,0,40,<=50K
12,13,23,Private,122272,13,Never-married,White,Female,0,0,30,<=50K
17,18,32,Private,186824,9,Never-married,White,Male,0,0,40,<=50K
29,30,49,Private,193366,9,Married-civ-spouse,White,Male,0,0,40,<=50K
32,33,45,Private,386940,13,Divorced,White,Male,0,1408,40,<=50K

## Manejar atributos de tipo string:

Sacado de: https://stackoverflow.com/questions/17114904/python-pandas-replacing-strings-in-dataframe-with-numbers

Una variagle es nominal cuando sus valores representan categorias que no siguen a una clasificacion intrinseca. Ejemplo: región, código postal o confesión religiosa.
En cambio en una variable ordinal  sus valores representan categorías con alguna clasificación intrínseca. Ejemplo: Niveles de satisfaccion.

In [72]:
# Sacado de https://www.geeksforgeeks.org/replacing-strings-with-numbers-in-python-for-data-analysis/

dic_workclass = {'State-gov': 1, 'Self-emp-not-inc': 2, 'Private': 3, 'Federal-gov': 4, 'Local-gov': 5, 'Self-emp-not-inc': 6, 'Whithout-pay': 7}
dic_martial_Status = {'Never-married': 1, 'Married-civ-spouse': 2, 'Divorced': 3, 'Married-spouse-absent': 4, 'Married-AF-spouse': 5, 'Separated': 6, 'Widowed': 7}
dic_race = {'White': 1, 'Black': 2, 'Asian-Pac-Islander': 3,'Amer-Indian-Eskimo': 4, 'Other': 5}
dic_sex = {'Male': 1, 'Female': 2}
# Se decidio borrar esta columna por la gran cantidad de paises
#dic_country = {'United-States': 1, 'Canada': 2, 'Mexico': 3, 'Cuba': 4, 'Puerto-Rico': 5, 'Philippines': 6, 'Portugal': 7, 'Poland': 8}
dic_target = {'<=50K': 1, '>50K': 2}

# Al printear esto pude ver las variables que necesitaba reemplazar. No lo deje con print por espacio.
print(df_adult_errase['Workclass'].value_counts())
df_adult_errase['Race'].value_counts()
df_adult_errase['Sex'].value_counts()
#df_adult_errase['Country'].value_counts()
df_adult_errase['Target'].value_counts()
df_adult_errase['Martial_Status'].value_counts()


df_adult_int = df_adult_errase.replace({'Workclass': dic_workclass, 'Martial_Status': dic_martial_Status, 'Race': dic_race, 'Sex': dic_sex, 'Target': dic_target})
df_adult_int.head(5)

Private             3357
Self-emp-not-inc     395
Local-gov            329
State-gov            201
Self-emp-inc         157
Federal-gov          130
Without-pay            1
Name: Workclass, dtype: int64

,Id,Age,Workclass,fnlwgt,Education_Num,Martial_Status,Race,Sex,Capital_Gain,Capital_Loss,Hours_per_week,Target
0,1,39,1,77516,13,1,1,1,2174,0,40,1
12,13,23,3,122272,13,1,1,2,0,0,30,1
17,18,32,3,186824,9,1,1,1,0,0,40,1
29,30,49,3,193366,9,2,1,1,0,0,40,1
32,33,45,3,386940,13,3,1,1,0,1408,40,1

## Separar características de clase:

## Normalizar datos:

# Parte 2: Clasificación automática

## Separar datos de entrenamiento y pruebas:

## Instanciar y entrenar el clasificador:

## Calcular el rendimiento del clasificador:

## Encontrar hiperparámetros:

## Visualizar la matriz de confusión:

# Parte 3: Reducción dimensionalidad y clustering

## Reducción de dimensionalidad

## Visualizar datos reducidos

## Predecir las clases usando KMeans:

## Visualizar los clusters de KMeans: